*, *::after , *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
    direction: rtl;
    color:#101828;
}
img{
    display: block;
    width: 100%;
}
html{
    font-family: "IBM Plex Sans Arabic", sans-serif;
    scroll-behavior: smooth;
}
aside{
    display: none;
}
.container{
    width: 99%;
    margin: 10px auto;
}
.card{
    background-color: #F4F9FD;
    padding: 16px;
    border: 1px solid #d4d5d6;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card .head-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.card .head-txt span{
    font-size: 12px;
    font-weight: 500;
}
.card .head-txt h3{
    font-size: 16px;
    font-weight: 600;
}

#header{
    margin-bottom: 20px;
    grid-area: header;
}
#header .head-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#header .head-card .logo{
    display: flex;
    gap: 20px;
    align-items: center;
}
#header .head-card .logo .icon{
    background-color: #2854F4;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
#header .head-card .logo .icon i{
    font-size: 20px;
    color: white;
}
#header .head-card .txt h1{
    font-weight: 700;
    font-size: 24px;
}
#header .head-card .txt p{
    font-size: 12px;
}

#header .bar-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .bar-2 .icons{
    display: flex;
    gap: 10px;
}
#header .bar-2 .icons .icon{
    padding: 5px 10px;
    border-radius: 10px;
    border: #d4d5d6 solid 1px;
}
#header .bar-2 .icons .icon:nth-child(2){
    position: relative;
}
#header .bar-2 .icons .icon:nth-child(2) ::after{
    content: "2";
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: red;
    font-weight: 500;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;

}

#header .bar-2 .icons .icon:hover{
    background-color:#F3F4F6;
}

#header .bar-2 .icons .icon i{
    font-size: 13px;
}

#header .bar-2 .image{
    padding: 10px;
    width: fit-content;
}
#header .bar-2 .image img{
    border-radius: 40%;
    border: 1px solid transparent;
    width: 30px;
}
#header .connected{
    padding: 6px 12px;
    background-color: #14cd5e1a;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#header .connected .shape{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #14cd5e;
}
#header .connected p{
    color: #008236;
    font-size: 12px;
}

/* --------------------------------------------general section ------------------------------------- */
#topstats{
    margin-bottom: 20px;
    grid-area: topstats;
}
#topstats .stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#topstats .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
#topstats .stats .card p{
    font-weight: 600;
    font-size: 12px;
    color: #6A7282;
}
#topstats .stats .card h2{
    font-weight: 700;
    font-size: 30px;
}
#topstats .stats .card .text{
    font-weight: 600;
    font-size: 14px;
    color: #00a63e;
}
#topstats .stats .expense .text{
    color: red;
}
/* ----------------------------------------start fullPage ------------------------------------------ */
.fullPage{
    display: grid;
    grid-template-columns: repeat(1 , minmax(0,1fr));
    grid-template-rows: repeat(8 , auto);
    grid-template-areas: 
    "top-stats"
    "activities"
    "history"
    "bills"
    "general"
    "comparison"
    "summary"
    "payment-cards"
    ;
}
/* -------------------------------------------- end fullPage ------------------------------------------- */

/* -------------------------------------------------start activities --------------------------------------- */
#activities{
    display: flex;
    flex-direction: column;
    grid-area: activities;
    margin-bottom: 10px;
}
#activities .card h3{
    font-size: 16px;
    color: #101828;
    margin-bottom: 20px;
}
#activities .card .item{
    display: flex;
    background-color: #155efc28;
    gap: 20px;
    padding: 12px;
    border-radius: 10px;
    border-left: 5px solid #3182FF;
    margin-bottom: 10px;
}

#activities .card .item .icon{
    font-size: 18px;
    color: #155DFC;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
#activities .card .item .txt{
    width: 100%;
}
#activities .card .item .txt .head {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}
#activities .card .item .txt .head p{
    font-size: 12px;
    font-weight: 700;
}
#activities .card .item .txt .head + p{
    font-size: 12px;
}
#activities .card .item .txt .head span{
    color: #3182FF;
}
#activities .card .item .txt .date{
    font-size: 10px;
    font-weight: 600;
    color: #6A7282;
}

#activities .card .credit {
    border-color: #00C950;
    background-color: #6ed19247;
    padding-bottom: 20px;
    border-bottom: 1px solid #F3F4F6;
}
#activities .card .credit .icon{
    color: #00C950;
}

#activities .card .credit .txt .head span{
    color: #00C950;
}
#activities .card .button{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #1447E6;
    font-size: 14px;
    font-weight: 400;
}
#activities .card .button p:hover{
    color: #0034d1;
}
/* -------------------------------------------------end activities --------------------------------------- */
#history{
    grid-area: history;
    max-height: 400px;
    margin-bottom: 20px;
}

#history .table-wrapper{
    overflow-x: auto;
    max-height: fit-content;
}
#history .card table{
    font-size: 16px;
    font-weight: 600;
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
}
#history .card table thead tr{
    border-bottom: 4px solid #F9FAFB;
}
#history .card table tbody .transaction{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}
#history .card table tbody .transaction img{
    width: 40px;
    border-radius: 50%;
}
#history .card table tbody .transaction p {
    font-size: 0.875rem;
}
#history .card table tbody .transaction span {
    font-size: 0.75rem;
    color: #6A7282;

}

#history .card table tbody tr td{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: .5rem .25rem;
}

#history .card table tbody tr td:nth-child(1){
    width: 10.5rem;
}
#history .card table tbody tr td:nth-child(2){
    width:6rem;
}
#history .card table tbody tr td:nth-child(3){
    width:6.8rem;
}
#history .card table tbody tr td:nth-child(4){
    width:5.8rem;
}
#history .card table tbody tr td:nth-child(5){
    width:5.8rem;
}
/* -------------------------------------------------------------------start bills------------------------------------------- */
#bills{
    grid-area: bills;
}
#bills .card .total{
    text-align: center;
    margin-bottom: 20px;
}
#bills .card .total h2{
    font-size: 1.875rem;
    font-weight: 700;
}
#bills .card .total p{
    font-size: .875rem;
}

#bills .card .billing-details{
    display: flex;
    flex-wrap: wrap;
    gap: .4375rem;
}

#bills .card .billing-details .card-detail{
    text-align: center;
    width: calc(97% /2);
    padding: 12px;
    border: 1px solid #d4d5d6;
    background-color: #F9FAFB;
}
#bills .card .billing-details .card-detail  p{
    font-size: .75rem;
}
#bills .card .billing-details .card-detail h4 + p{
    color: red;
}
/* ------------------------------------------------------------------general----------------------------------------------------- */
#general .card .st-cards{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
#general .card .st-cards .stat{
    width: 97%;
    background-color: #0034d117;
    padding: 1rem;
    border-radius: 8px;
    margin: auto;
}
#general .card .st-cards .stat .head-txt{
    display: flex;
    justify-content: space-between;
}
#general .card .st-cards .stat .head-txt h3{
    font-size: 1.5rem;
}
#general .card .st-cards .stat .head-txt div:nth-child(2) h3{
    font-size: 1.125rem;
}
#general .card .st-cards .stat .head-txt p{
    font-size: .875rem;
}
#general .card .st-cards .stat .percentage{
    display: flex;
    justify-content: space-between;
    font-size: .75rem;

}
#general .card .st-cards .stat #progress {
    width: 100%;
    height: 6px;
    background-color: #E5E7EB;
    border-radius: 7px;
    position: relative;
}
#general .card .st-cards .stat #progress::after{
    content: "";
    width: 82.5%;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #4575FF;
    border-radius: 4px;
}
#general .card .st-cards .stat:nth-child(1) .head-txt div:nth-child(1) h3{
    color: #1C398E;
}
#general .card .st-cards .stat:nth-child(1) .head-txt div:nth-child(1) p{
    color: #0034d1;
}
/* --------------- */
#general{
    grid-area: general;
}
#general .card .st-cards .stat:not(:nth-child(1)){
    background-color: #F5F6F8;
    transition: all 0.4s;
}
#general .card .st-cards .stat:not(:nth-child(1)):hover{

    background-color: #eaeaea;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s;
}
#general .card .st-cards .stat:not(:nth-child(1)) .sec {
    display: flex;
    align-items: center;
    gap: 5px;
}
#general .card .st-cards .stat:not(:nth-child(1)) .sec i {
    font-size: 2rem;
}
#general .card .st-cards .stat:not(:nth-child(1)) #progress {
    width: 100%;
    height: 6px;
    background-color: #E5E7EB;
    border-radius: 7px;
    position: relative;
}
#general .card .st-cards .stat:not(:nth-child(1)) #progress::after{
    content: "";
    width: 50%;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #F54900;
    border-radius: 4px;
}
#general .card .st-cards .stat:nth-child(3) #progress::after{
    width: 100%;
    background-color: #E81311;
}
#general .card .st-cards .stat:nth-child(4) #progress::after{
    width: 80%;
    background-color: #F64192;
}
#general .card .st-cards .stat:nth-child(5) #progress::after{
    width: 86%;
    background-color: #18C84F;
}

/* ----------------------------------------------------- start comparison --------------------------------------------------- */
#comparison{
    grid-area: comparison;
}
#comparison .card .legend{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}
#comparison .card .legend .green{
    background-color: #10B981;
}
#comparison .card .legend .orange{
    background-color: #F26969;
}
#comparison .card .legend .green,
#comparison .card .legend .orange{
    width: 10px;
    height: 10px;
}

#comparison .card .plot .chart{
    display: flex;
    justify-content: space-around;
    

}
#comparison .card .plot .bars{
    width: fit-content;
}
#comparison .card .plot .bars span{
    font-size: .75rem;
}
#comparison .card .plot .bars .bar{
    display: flex;
    align-items: flex-end;
}
#comparison .card .plot .bars .bar div{
    width: .9375rem;
    display: flex;
    flex-direction: column;

}
#comparison .card .plot .bars .bar .income{
    background-color: #10B981;
    height: 100px;
}
#comparison .card .plot .bars .bar .expense{
    background-color: #F26969;
    height: 40px;
}
/* -------------------------------------------------------------------start summary ------------------------------- */
#summary{
    grid-area: summary;
}
#summary .card .expenses .src{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #d4d5d6;
    background-color: #F9FAFB;
    border-radius: 10px;
}
#summary .card .expenses .src div{
    display: flex;
    align-items: center;
    gap: 20px;
}
#summary .card .expenses .src div .icon{
    padding: 8px;
    border-radius: 10px;
}
#summary .card .expenses .src:nth-child(1) div .icon{
    background-color: #155efc3d;
}
#summary .card .expenses .src:nth-child(2) div .icon{
    background-color: #00A63E3d;
}
#summary .card .expenses .src:nth-child(3) div .icon{
    background-color: #9810FA3d;
}
#summary .card .expenses .src div .icon i{
    font-size: 1.125rem;
}
#summary .card .expenses .src .txt{
    display: block;
}
#summary .card .expenses .src .txt p{
    font-size: .75rem;

}
#summary .card .expenses .src span{
    font-size: 1rem;
    font-weight: 600;
}

/* -------------------------------------------------------cards Section ------------------------------------------------ */
#payment-cards {
    grid-area: payment-cards;
}
#payment-cards {
    display: flex;
    justify-content: center;
}
#payment-cards .card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#payment-cards .credit {
    width: 100%;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}
#payment-cards .credit:hover {
    transform: rotateY(180deg);
    transition: transform 0.5s ease;
}
#payment-cards .card-face {
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    gap: 10px;
}
#payment-cards .front {
    background: linear-gradient(135deg, #3b2db8, #4c3fd9);
    color: white;
}
#payment-cards .credit:nth-child(2) .front{
    background: linear-gradient(135deg, #880000, #560010);
    color: white;
}
#payment-cards .credit:nth-child(3) .front {
    background: linear-gradient(135deg, #050031, #0b0081);
    color: white;
}
#payment-cards .back {
    background: linear-gradient(135deg, #0b1320, #09101a);
    color: white;
    transform: rotateY(180deg);
}
#payment-cards .top,
#payment-cards .bottom {
    display: flex;
    justify-content: space-between;
}
#payment-cards .top i {
    font-size: 30px;
}
#payment-cards .card-face .number span {
    font-size: 18px;
}
#payment-cards .top .chip {
    padding: 10px 14px;
    background-color: #ffffff2d;
    border-radius: 10px;
}
#payment-cards .top .chip div {
    width: 20px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.427);
    border-radius: 5px;
}
#payment-cards .back .strip {
    height: 40px;
    width: 100%;
    background: linear-gradient(90deg, #000 0%, #1a1a1a 40%, #3a3a3a 100%);
}
#payment-cards .back .signature {
    height: 36px;
    border-radius: 6px;
    background: #ddd;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
#payment-cards .back .signature span{
    color: #000;
}
/* ------------------------------------------------------------ end of the payment methods ---------------------------------- */